/*Question forms CSS */

.title {
	text-indent: 15%;
	font-size: 2.5em;
	color: #953031;
}

.title2{
	text-indent: 15%;
	font-size: 0.6em;
	color: #CC2865;
}

.title3{
	text-indent: 15%;
	font-size: 0.6em;
	color: #8190A5;
}